<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, intital-scale=1.0">
    <title>{% block title %}{% endblock %}</title>

    <script type="text/javascript" src="/eel.js"></script>
    <script type="text/javascript" src="/static/js/setup.js"></script>
    
    <link href="/static/css/style.css" rel="stylesheet">
  </head>

  <body>
    {% block content %}
    {% endblock %}
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
  </body>
</html>