{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
  <div id="remote">
    <a href="table.html" id="data" class="fade">
      <ion-icon name="analytics"></ion-icon>
      <br/>
      DATA
    </a>
    <label id="export_btn" class="fade" onclick="getPath('export_btn')">
      <ion-icon name="download"></ion-icon>
      <br/>
      EXPORT
    </label>
    <a href="index.html" id="home_btn" class="fade">
      <ion-icon name="home"></ion-icon>
      <br/>
      HOME
    </a>
  </div>
{% endblock %}