@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --kombu: #3C493F;
    --xanadu: #7E8D85;
    --ash: #B3BFB8;
    --white: #F0F7F4;
    --danger: #F04D43;
    --mango: #FB9927;
    --success: #A3DE83;

    --void: #181818;
    --d21: #212121;
    --grey: #3D3D3D;
    --lgrey: #AAAAAA;
    --light: #EAEAEA;

    --caution: #EDB230;
    --sizzling: #F2545B;
    --apple: #B2EF9B;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--lgrey);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#remote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#output {
    background: var(--lgrey);
    color: var(--void);
    text-align: center;
    font-size: 32px;
    padding: 20px 20px;
    width: 300px;
}
#output.display:hover {
    background: var(--lgrey);
    color: var(--void);
    cursor: default;
}

/* LABELS */
label {
    background: var(--d21);
    color: var(--light);
    text-align: center;
    width: 180px;
    margin: 2px 0;
    padding: 30px 30px;
    transition: 0.5s;
}
label:hover {
    background: var(--caution);
    color: var(--light);
    cursor: pointer;
}
label:first-of-type {
    border-radius: 15px 15px 0 0;
}
label:last-of-type {
    border-radius: 0 0 15px 15px;
}

#dashboard {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* BUTTONS */
.fade {
    opacity: 0;
    animation: fadeIn 0.5s ease-in both;
}

#student, #leader {
    background: var(--d21);
    color: var(--light);
    transition: 0.5s;
}
#student:hover, #leader:hover {
    background: var(--sizzling);
}

/* ICONS */
ion-icon {
    font-size: 32px;
    color: var(--light);
}

/* ANIMATIONS */
#output {
    animation-delay: 0.20s;
}
#roster, #export_btn {
    animation-delay: 0.40s;
}
#student, #home_btn {
    animation-delay: 0.60s;
}
#leader {
    animation-delay: 0.80s;
}
#dash_btn {
    animation-delay: 1.0s;
}

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}