@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --kombu: #3C493F;
    --xanadu: #7E8D85;
    --ash: #B3BFB8;
    --cream: #F0F7F4;
    --danger: #F04D43;
    --mango: #FB9927;
    --success: #A3DE83;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background: var(--ash);
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#remote {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* LABELS */
label {
    border: 4px solid var(--xanadu);
    color: var(--kombu);
    text-align: center;
    width: 180px;
    margin: 2px 0;
    padding: 30px 30px;
    transition: 0.5s;
}
label:hover {
    background: var(--mango);
    color: var(--cream);
    cursor: pointer;
}

#dashboard {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* BUTTONS */
.fade {
    opacity: 0;
    animation: fadeIn 0.5s ease-in both;
}

#student, #leader {
    background: var(--danger);
    color: var(--cream);
    transition: 0.5s;
}
#student:hover, #leader:hover {
    background: var(--mango);
}

#roster, #export_btn {
    animation-delay: 0.25s;
}
#student, #home_btn {
    animation-delay: 0.5s;
}
#leader {
    animation-delay: 0.75s;
}
#dash_btn {
    animation-delay: 1.0s;
}

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}