@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --void: #181818;
    --lvoid: #212121;
    --grey: #3d3d3d;
    --lgrey: #aaaaaa;
    --snow: #eaeaea;

    --success: #C2D076;
    --caution: #EDB230;
    --danger: #F2545B;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }

.material-icons.orange600 { color: #FB8C00; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*ATOMIC AGE, YESTERDYEAR, SMYTHE, JOSEFIN SANS, BELLEZA*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    color: var(--void);
    font-weight: 600;
    font-size: 3rem;
    /* opacity: 0.8; */
}
h2, p {
    color: var(--lvoid);
    font-weight: 500;
}
h3 {
    color: var(--void);
    font-weight: 600;
}

main {
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
    min-height: 100vh;
    background: linear-gradient(var(--lgrey), var(--grey));
}

.glass {
    background-color: var(--snow);
    min-height: 80vh;
    width: 60%;
    background: linear-gradient(rgba(255,255,255, 0.7), rgba(255, 255, 255, 0.3));
    border-radius: 10px;
    backdrop-filter: blur(2rem);
    display: flex;
}

.app {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.sidebar {
    flex: 0.3;
    height: 100%;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(rgba(255,255,255, 0.7), rgba(255, 255, 255, 0.3));
    transition: color 200ms ease-in;
}
.link {
    display: flex;
    margin: 2px 0;
}
.link label h2 {
    padding-right: 3rem;
}
.link label {
    display: flex;
    align-items: center;
    text-align: left;
    background-color: var(--lvoid);
    padding: 1rem;
    width: 16rem;
    height: 6rem;
    transition: background-color 200ms ease-in;
}
.link span {
    padding: 0 2rem 0 1rem;
}
.link h2 { color: var(--snow); }
.link label:hover {
    background-color: var(--caution);
    cursor: pointer;
}

/* DASHBOARD */
.dashboard {
    flex: 0.7;
    height: 100%;
    padding: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    overflow: auto;
}

.search {
    padding-bottom: 2rem;
}
.search h1 {
    margin-top: 2rem;
}
.search input {
    background: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.3));
    border: none;
    min-width: 300px;
    padding: 0.5rem;
    border-radius: 5px;
}

/* TABLE */
.content-table {
    width: 100%;
    height: 100%;
    min-width: 500px;
    background-color: var(--snow);
    font-size: 0.9em;
    letter-spacing: 0.1rem;
    text-align: left;
    table-layout: fixed;
    border-collapse: collapse;
    border-radius: 10px;
    overflow: hidden;
}
.content-table thead { background-color: var(--grey); }
.content-table th {
    color: var(--snow);
    font-weight: bold;
}
.content-table th,
.content-table td {
    padding: 1rem 1rem 1rem 1.5rem;
}
.content-table th:nth-child(1),
.content-table td:nth-child(1) {
    text-align: right;
    width: 8%;
}
.content-table td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.content-table tbody tr { border-bottom: 1px solid var(--lgrey); }
.content-table tbody tr:nth-child(even) { background-color: #dddddd; }
.content-table tbody tr:hover {
    background-color: rgba(61, 61, 61, 0.6);
    color: rgba(255, 255, 255, 1);
}
.content-table th:hover,
.content-table th:hover {
    color: rgba(255, 255, 255, 1);
    cursor: pointer;
}
.content-table .th-sort-asc::after { content: "\25b4"; }
.content-table .th-sort-desc::after { content: "\25be";}
.content-table .th-sort-asc::after,
.content-table .th-sort-desc::after { margin-left: 5px; }

.extra{
    background-color: var(--lvoid);
    border-radius: 10px;
    padding: 1rem;
}
.extra h2 { color: var(--snow); }

/* ANIMATIONS */
.fade {
    opacity: 0;
    animation: fadeIn 0.5s ease-in both;
}

#roster { border-radius: 10px 10px 0 0; }
#export_btn { border-radius: 0 0 10px 10px;}

#roster { animation-delay: 0.40s; }
#student { animation-delay: 0.60s; }
#leader { animation-delay: 0.80s; }
#export_btn { animation-delay: 1.0s; }

#student:hover, #leader:hover {
    background-color: var(--danger);
}

@keyframes fadeIn {
    from {opacity:0;}
    to {opacity:1;}
}